<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.just.teachersystem.Mapper.AchievementMapper">
    <insert id="insertToAchievement" parameterType="com.just.teachersystem.VO.AchievementInfo">
        insert into achievement(
        dptId, authorId, teammate, production, kindId, unit, publishTime, patent, certificate, schoolYear, year, lastTime, status, reason
        )values (
            (select id from department where dptname=#{department}),
            (select id from user where worknum=#{worknum}),
            #{teammate},
            #{production},
            (select id from kind where class1=#{class1} and class2=#{class2} and class3=#{class3}),
            #{unit},
            #{publishTime},
            #{patent},
            #{certificate},
            #{schoolYear},
            #{year},
            NOW(),
            #{status},
            #{reason}
        )
    </insert>


    <select id="selectAchievementByWorknum" parameterType="String" resultType="com.just.teachersystem.VO.AchievementInfo">
        select aid, department,worknum, name, teammate,production, class1,class2,class3,
        unit,publishTime,patent,certificate,schoolYear,year,status ,reason ,lastTime
        from achievementInfo where worknum=#{worknum}
        order by lastTime desc
    </select>

    <select id="selectAchievements" parameterType="com.just.teachersystem.VO.AchievementInfo" resultType="com.just.teachersystem.VO.AchievementInfo">
      select aid, department,worknum, name, teammate,production, class1,class2,class3
        ,unit,publishTime,patent,certificate,schoolYear,year,status ,reason,lastTime
        from achievementInfo
        <where>
            <if test="department!=null and department!=''"> department=#{department} </if>
            <if test="production!=null and production!=''"> production=#{production} </if>
            <if test="name!=null and name!=''"> name=#{name} </if>
            <if test="class2!=null and class2!=''"> and class2=#{class2}  </if>
            <if test="class3!=null and class3!=''"> and class3=#{class3}  </if>
            <if test="schoolYear!=null and schoolYear!=''"> and schoolYear=#{schoolYear}  </if>
            <if test="year!=null and year!=''"> and year=#{year}  </if>
            <if test="worknum!=null and worknum!=''"> and  worknum=#{worknum}</if>
        </where>
        order by lastTime desc
    </select>


    <insert id="insertToAchievementList" parameterType="java.util.List">
        insert into achievement(
        dptId, authorId, teammate, production, kindId, unit, publishTime, patent, certificate, schoolYear, year, lastTime, status, reason
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            (select id from department where dptname=#{item.department}),
            (select id from user where worknum=#{item.worknum}),
            #{item.teammate},
            #{item.production},
            (select id from kind where class2=#{item.class2} and  class3=#{item.class3}),
            #{item.unit},
            #{item.publishTime},
            #{item.patent},
            #{item.certificate},
            #{item.schoolYear},
            #{item.year},
            NOW(),
            #{item.status},
            #{item.reason}
            )
        </foreach>
    </insert>

    <update id="updateAchievement" parameterType="com.just.teachersystem.VO.AchievementInfo">
        update achievement
        <trim prefix="set" suffixOverrides=",">
            <if test="department!=null">dptId=(select id from department where dptname=#{department}),</if>
            <if test="worknum!=null">authorId=(select id from user where worknum=#{worknum}),</if>
            <if test="production!=null">production=#{production},</if>
            <if test="teammate!=null">teammate=#{teammate},</if>
            <if test="class1!=null and class2!=null and class3!=null">kindId=(select id from kind where class1=#{class1} and class2=#{class2} and  class3=#{class3}),</if>
            <if test="unit!=null">unit=#{unit},</if>
            <if test="publishTime!=null ">publishTime=#{publishTime},</if>
            <if test=" patent!=-2">patent=#{patent},</if>
            <if test="certificate!=null">certificate=#{certificate},</if>
            <if test="schoolYear!=null">schoolYear=#{schoolYear},</if>
            <if test="year!=null">year=#{year},</if>
            <if test="status!=-2">status=#{status},</if>
            <if test="reason!=null">reason=#{reason},</if>
            lastTime=NOW()
        </trim>
        WHERE id=#{aid}
    </update>


</mapper>