<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.just.teachersystem.Mapper.AwardMapper">

    <insert id="insertToAward" parameterType="com.just.teachersystem.VO.AwardInfo">
        insert into award
        (dtpId, userId, teammate, awardUnit, content, kindId, level, prize, bonus, awardYear, certificate, awardTime, schoolYear,year, status, reason, lastTime)
        values (
          (select id from department where dptname=#{department}),
          (select id from user where worknum=#{worknum}),
          #{teammate},
          #{awardUnit},
          #{content},
          (select id from kind where class1=#{class1} and class2=#{class2} and class3=#{class3}),
          (select id from level where level =#{level}),
          #{prize},
          #{bonus},
          #{awardYear},
          #{certificate},
          #{awardTime},
          #{schoolYear},
          #{year},
          #{status},
          #{reason},
          NOW()
        )
    </insert>

    <select id="selectAwardByWorknum" parameterType="String" resultType="com.just.teachersystem.VO.AwardInfo">
        select aid,department,worknum,name , teammate,awardUnit,content,class1,class2,class3,level,prize,bonus,awardYear ,certificate,awardTime,
        schoolYear,year,status,reason,lastTime
        from awardInfo
        where worknum=#{worknum}
    </select>

    <select id="selectAwards" parameterType="com.just.teachersystem.VO.AwardInfo" resultType="com.just.teachersystem.VO.AwardInfo">
        select aid,department,worknum,name , teammate,awardUnit,content,class1,class2,class3,level,prize,bonus,awardYear ,certificate,awardTime,
        schoolYear,year,status,reason,lastTime
        from awardInfo
        <where>
            <if test="department!=null and department!=''"> department=#{department} </if>
            <if test="class2!=null and class2!=''"> and class2=#{class2}  </if>
            <if test="class3!=null and class3!=''"> and class3=#{class3}  </if>
            <if test="level!=null and level!=''"> and level=#{level}  </if>
            <if test="prize!=null and prize!=''"> and prize=#{prize}</if>
            <if test="schoolYear!=null and schoolYear!=''"> and schoolYear=#{schoolYear}  </if>
            <if test="year!=null and year!=''"> and year=#{year}  </if>
            <if test="worknum!=null and worknum!=''"> and  worknum=#{worknum}</if>
        </where>


    </select>


    <insert id="insertToAwardList" parameterType="java.util.List">
        insert into award(dtpId, userId, teammate, awardUnit, content, kindId, level, prize, bonus, awardYear,
        certificate, awardTime, schoolYear,year, status, reason, lastTime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            (select id from department where dptname=#{item.department}),
            (select id from user where worknum=#{item.worknum}),
            #{item.teammate},
            #{item.awardUnit},
            #{item.content},
            <if test="item.class2!=null and item.class3!=null">(select id from kind where class2=#{item.class2} and  class3=#{item.class3}),</if>
            <if test="item.level!=null">(select id from level where level =#{item.level}),</if>
            #{item.prize},
            #{item.bonus},
            #{item.awardYear},
            #{item.certificate},
            #{item.awardTime ,jdbcType=DATE},
            #{item.schoolYear},
            #{item.year},
            #{item.status},
            #{item.reason},
            NOW()
            )
        </foreach>
    </insert>

    <update id="updateAward" parameterType="com.just.teachersystem.VO.AwardInfo">
        update award
        <trim prefix="set" suffixOverrides=",">
            <if test="department!=null">dtpId=(select id from department where dptname=#{department}),</if>
            <if test="worknum!=null">userId=(select id from user where worknum=#{worknum}),</if>
            <if test="teammate!=null">teammate=#{teammate},</if>
            <if test="awardUnit!=null">awardUnit=#{awardUnit},</if>
            <if test="class1!=null and class2!=null and class3!=null">kindId=(select id from kind where class1=#{class1} and class2=#{class2} and  class3=#{class3}),</if>
            <if test="level!=null">level=(select id from level where level =#{level}),</if>
            <if test="prize!=null ">prize=#{prize},</if>
            <if test="bonus!=null and bonus !=''">bonus=#{bonus},</if>
            <if test="awardYear!=null">awardYear=#{awardYear},</if>
            <if test="certificate!=null">certificate=#{certificate},</if>
            <if test="awardTime!=null">awardTime=#{awardTime},</if>
            <if test="schoolYear!=null">schoolYear=#{schoolYear},</if>
            <if test="year!=null">year=#{year},</if>
            <if test="status!=null and status!=''">status=#{status},</if>
            <if test="reason!=null">reason=#{reason},</if>
            lastTime=NOW()
        </trim>
        WHERE id=#{aid}
    </update>

</mapper>