<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.just.teachersystem.Mapper.TeacherMapper">

    <insert id="insertToConstruction" parameterType="com.just.teachersystem.VO.ConstructionInfo">
        insert into construction(
        dptId,projectNum,project,principalId,teammate,startYear,beginToEndTime,sponsor,kindId,levelId,
        testimonial,expenditure,point,computeYear,bonus,fileNumber,isEnd,schoolyear,year,status,
        reason,lastTime
        )values
        (
            (select id from department where dptname=#{department}),
            #{projectNum},
            #{project},
            (select id from user where worknum=#{worknum}),
            #{teammate},
            #{startYear},
            #{beginToEndTime},
            #{sponsor},
            (select id from kind where class1=#{class1} and class2=#{class2} and  class3=#{class3}),
            (select id from level where level =#{level}),
            #{testimonial},
            #{expenditure},
            #{point},
            #{computeYear},
            #{bonus},
            #{fileNumber},
            #{isEnd},
            #{schoolyear},
            #{year},
            #{status},
            #{reason},
            NOW()
        )
    </insert>


    <select id="selectConstructionByWorknum" parameterType="String" resultType="com.just.teachersystem.VO.ConstructionInfo">
        select cid, department,worknum,projectNum, project, name, teammate,StartYear , beginToEndTime,sponsor, class1,class2,class3,
        level, testimonial,schoolyear,year,status from constructionInfo where worknum=#{worknum}
    </select>

    
    <insert id="insertToAchievement" parameterType="com.just.teachersystem.VO.AchievementInfo">
        insert into achievement(
        dptId, authorId, teammate, production, kindId, levelId, unit, publishTime, patent, certificate, schoolYear, year, lastTime, status, reason
        )values (
            (select id from department where dptname=#{department}),
            (select id from user where worknum=#{worknum}),
            #{teammate},
            #{production},
            (select id from kind where class1=#{class1} and class2=#{class2} and class3=#{class3}),
            (select id from level where level =#{level}),
            #{unit},
            #{publishTime},
            #{patent},
            #{certificate},
            #{schoolYear},
            #{year},
            NOW(),
            #{status},
            #{reason}
        )
    </insert>


    <select id="selectAchievementByWorknum" parameterType="String" resultType="com.just.teachersystem.VO.AchievementInfo">
        select aid, department,worknum, name, teammate,production, class1,class2,class3,
        level, unit,publishTime,patent,certificate,schoolYear,year,status from achievementInfo where worknum=#{worknum}
    </select>
</mapper>